/* PageFly Element Styles */
						.NKnmf div { display: flex; align-items: center; padding: 1rem 0px; position: relative; font-size: 2px; }
.NKnmf div::before, .NKnmf div::after { content: ""; width: 100%; border-top-width: 1em; border-top-style: solid; }
.NKnmf > div > span { padding: 0px 1rem; flex: 1 0 auto; display: flex; line-height: 1; color: rgb(0, 0, 0); font-size: 30px; }
.NKnmf span > span { vertical-align: middle; }
.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.fLDHlO { position: relative; overflow: hidden; display: inline-flex; justify-content: flex-start; align-items: flex-start; max-width: 100%; vertical-align: middle; }
.fLDHlO img { display: inline-block; object-fit: cover; height: auto; width: 100%; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) { 
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) { 
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) { 
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) { 
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) { 
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) { 
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.gtZHgp { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; pointer-events: none; overflow: hidden; }
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.hlfREt > span:last-child { line-height: inherit; display: block; }
#editor-dnd-wrapper .hlfREt[class*="dropcap--"]:not(.dropcap--none) > span:last-child[contenteditable] { display: block; }
#editor-dnd-wrapper .hlfREt[class*="dropcap--"]:not(.dropcap--none) > span:last-child[contenteditable]:empty::after { display: inline; }
.hlfREt[class*="dropcap--"] > span:first-child { display: block; margin-right: 10px; float: left; color: rgb(0, 0, 0); width: 50px; height: 50px; line-height: 50px; font-size: 2em; background-color: rgb(145, 157, 169); background-position: initial initial; background-repeat: initial initial; }
.hlfREt[class*="dropcap--"]:not(.dropcap--none) > span:first-child { margin-right: 20px; text-align: center; }
.hlfREt.dropcap--none > span:first-child { text-align: inherit; border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; line-height: 1 !important; width: auto !important; height: auto !important; background-image: none !important; background-position: initial initial !important; background-repeat: initial initial !important; }
.hlfREt.dropcap--circle > span:first-child { border-top-left-radius: 100%; border-top-right-radius: 100%; border-bottom-right-radius: 100%; border-bottom-left-radius: 100%; }
.hlfREt:not([class*="dropcap--"]) > span { margin-right: 0px !important; }
.hlfREt ol, .hlfREt ul { list-style-position: inside; }
.hlfREt blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
.eWAAem { margin-bottom: 20px; }
.eWAAem label sup { color: red; margin-left: 3px; }
.eWAAem:last-child { margin-bottom: 0px; }
.eWAAem input[type="checkbox"], .eWAAem input[type="radio"] { margin-right: 5px; margin-top: 10px; }
.eWAAem input[type="checkbox"]:first-child, .eWAAem input[type="radio"]:first-child, .eWAAem input[type="email"]:first-child { margin-top: 0px; }
.eWAAem .pf-form__field { box-shadow: none; outline: none; width: 100%; }
.eWAAem .pf-form__field[type="checkbox"], .eWAAem .pf-form__field[type="radio"] { width: auto; }
.eWAAem label { width: 100%; }
.eWAAem.pf-form__field-wrap { display: flex; flex-wrap: wrap; }
.eWAAem .pf-form__field-element { width: 100%; }
.eWAAem.pf-form--label-left, .eWAAem.pf-form--label-right { flex-wrap: nowrap; }
.eWAAem.pf-form--label-left label, .eWAAem.pf-form--label-right label { width: 200px; margin-right: 20px; margin-bottom: 0px; }
.eWAAem.pf-form--label-right { flex-direction: row-reverse; }
.eWAAem.pf-form--label-right label { margin: 0px 0px 0px 20px; }
.eWAAem.pf-form--label-above label { margin: 0px 0px 10px; }
.eWAAem.pf-form--label-below { flex-direction: column-reverse; }
.eWAAem.pf-form--label-below label { margin: 10px 0px 0px; }
.bGtrOu .pf-form__field, .bGtrOu .pf-form__submit { pointer-events: initial; }
.bGtrOu .pf-form-success { color: red; font-weight: bold; border: 1px solid rgb(89, 172, 108); padding: 10px; }
.bGtrOu .pf-form__notice { margin-bottom: 20px; }
.bGtrOu .pf-form__notice span, .bGtrOu .pf-form__notice sup { color: red; }
.bGtrOu .pf-form--center { text-align: center; }
.bGtrOu .pf-form--right { text-align: right; }
.bGtrOu .pf-form__submit { background-color: rgb(45, 45, 45); color: rgb(255, 255, 255); }
.bGtrOu .pf-form__submit:hover { opacity: 0.9; }
.bGtrOu .pf-form__submit i { margin-right: 10px; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-bdd86fb6 {
		padding: 100px 0px 300px;
		 background-size: cover;
		 background-image: url("https://cdn.shopify.com/s/files/1/0098/8391/0195/t/3/assets/pf-f1f86b81-b87a-41d5-b881-76330d11cf69--clothsamplesforcustommadesuitsP8QZYXP.jpg?149");
		 background-position: 50% 50%;
		 background-repeat: no-repeat no-repeat;
	}
	.__pf .pf-fa1969f0 {
		text-align: center;
	}
	.__pf .pf-4c7c536d {
		border: 3px solid rgb(113, 127, 142);
	}
	.__pf .pf-f1f67249 {
		border: 3px solid rgb(113, 127, 142);
	}
	.__pf .pf-3cac71af {
		border: 3px solid rgb(113, 127, 142);
	}
	.__pf .pf-a8b46640 {
		border: 3px solid rgb(113, 127, 142);
	}
	.__pf .pf-33a2f1bf {
		letter-spacing: 0px;
	}
	.__pf .pf-0631825c {
		color: rgb(145, 157, 169);
	}
	.__pf .pf-22576fc5 {
		background-color: rgb(168, 68, 84);
		 background-position: 50% 100%;
	}
	.__pf .pf-14938e5a {
		text-align: center;
	}
	.__pf .pf-2851b9d1 {
		text-align: center;
	}
	.__pf .pf-7528e750 {
		background-color: rgb(255, 255, 255);
		 border-style: solid;
	}
}
@media only screen and (max-width: 767px) {
	.__pf .pf-bdd86fb6 {
		background-image: url("https://cdn.shopify.com/s/files/1/0098/8391/0195/t/3/assets/pf-f1f86b81-b87a-41d5-b881-76330d11cf69--clothsamplesforcustommadesuitsP8QZYXP.jpg?149");
	}
	.__pf .pf-ed9055e5 {
		background-image: url("https://cdn.shopify.com/s/files/1/0098/8391/0195/t/3/assets/pf-83c27cc6-0701-484b-9f46-48b689fedb5f--brideandgroomVFDTLWM.jpg?151");
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.__pf .pf-bdd86fb6 {
		background-image: url("https://cdn.shopify.com/s/files/1/0098/8391/0195/t/3/assets/pf-f1f86b81-b87a-41d5-b881-76330d11cf69--clothsamplesforcustommadesuitsP8QZYXP.jpg?149");
	}
	.__pf .pf-ed9055e5 {
		background-image: url("https://cdn.shopify.com/s/files/1/0098/8391/0195/t/3/assets/pf-83c27cc6-0701-484b-9f46-48b689fedb5f--brideandgroomVFDTLWM.jpg?151");
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.__pf .pf-bdd86fb6 {
		background-image: url("https://cdn.shopify.com/s/files/1/0098/8391/0195/t/3/assets/pf-f1f86b81-b87a-41d5-b881-76330d11cf69--clothsamplesforcustommadesuitsP8QZYXP.jpg?149");
	}
	.__pf .pf-ed9055e5 {
		background-image: url("https://cdn.shopify.com/s/files/1/0098/8391/0195/t/3/assets/pf-83c27cc6-0701-484b-9f46-48b689fedb5f--brideandgroomVFDTLWM.jpg?151");
	}
}
						

 